In [7]:
import os
os.getcwd()

'C:\\Users\\people\\계산수학\\수업내용'

In [14]:
fileref = open('rainfall.txt','r')

In [15]:
fileref

In [16]:
for line in fileref :
    print(line)  # ---> 에디터가 자동으로 \n을 첨가해 개행이 일어남.

Akron 25.81

Albia 37.65

Algona 30.69

Allison 33.64

Alton 27.43

AmwesW 34.07

Anamosa 35.33

Ankey 33.38

Atlantic 34.77

Audubon 33.41

Beaconsfield 35.27

Bedford 36.35

BellePlaine 35.81

In [17]:
fileref.close()

In [18]:
fileref = open('rainfall.txt','r')

In [19]:
for line in fileref :
    print(line[:-1]) # ---> 개행문자가 슬라이싱에의해 잘렸기때문에 엔터 없음

Akron 25.81
Albia 37.65
Algona 30.69
Allison 33.64
Alton 27.43
AmwesW 34.07
Anamosa 35.33
Ankey 33.38
Atlantic 34.77
Audubon 33.41
Beaconsfield 35.27
Bedford 36.35
BellePlaine 35.81

In [20]:
fileref.close()

In [21]:
fileref = open('rainfall.txt','r')

In [22]:
'abcde 10.5'.split()

['abcde', '10.5']

In [28]:
rainfile = open('rainfall.txt','r')
outfile = open('rainfall_in_cm.txt','w')
for l in rainfile : 
    values = l.split()
    inches = float(values[1])
    cm = inches * 2.54
    print('%15s %6.2f\n' %(values[0],cm))
rainfile.close()
outfile.close()

          Akron  65.56

          Albia  95.63

         Algona  77.95

        Allison  85.45

          Alton  69.67

         AmwesW  86.54

        Anamosa  89.74

          Ankey  84.79

       Atlantic  88.32

        Audubon  84.86

   Beaconsfield  89.59

        Bedford  92.33

    BellePlaine  90.96

In [11]:
fileref = open('rainfall.txt','r')
content = fileref.readlines()

In [12]:
content

['Akron 25.81\n',
 'Albia 37.65\n',
 'Algona 30.69\n',
 'Allison 33.64\n',
 'Alton 27.43\n',
 'AmwesW 34.07\n',
 'Anamosa 35.33\n',
 'Ankey 33.38\n',
 'Atlantic 34.77\n',
 'Audubon 33.41\n',
 'Beaconsfield 35.27\n',
 'Bedford 36.35\n',
 'BellePlaine 35.81\n']

In [4]:
content = fileref.read(10)